In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from rfpimp import *  # feature importance plot

In [2]:
df_raw = pd.read_feather("data/bulldozer-train.feather")
df = df_raw.copy()

In [3]:
def sniff(df):
    with pd.option_context("display.max_colwidth", 20):
        info = pd.DataFrame()
        info['sample'] = df.iloc[0]
        info['data type'] = df.dtypes
        info['percent missing'] = df.isnull().sum()*100/len(df)
        return info.sort_values('data type')

In [4]:
sniff(df).head(14)

                                       sample       data type  percent missing
SalesID                               1646770           int64         0.000000
SalePrice                                9500           int64         0.000000
MachineID                             1126363           int64         0.000000
ModelID                                  8434           int64         0.000000
datasource                                132           int64         0.000000
YearMade                                 1974           int64         0.000000
auctioneerID                               18         float64         5.174687
MachineHoursCurrentMeter                  NaN         float64        64.717764
saledate                  1989-01-17 00:00:00  datetime64[ns]         0.000000
Coupler                                  None          object        46.826855
Tire_Size                                None          object        76.329714
Tip_Control                              None          object        93.698169
Hydraulics                            2 Valve          object        20.166270
Ripper                    None or Unspecified          object        73.966977

In [5]:
print(df['Tire_Size'].unique())

[None '14"' 'None or Unspecified' '20.5' '23.5' '26.5' '17.5' '29.5' '13"'
 '20.5"' '23.5"' '17.5"' '15.5' '15.5"' '7.0"' '23.1"' '10"' '10 inch']